# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
crash.*.log
*.tfvars
*.tfvars.json

# Go
bin/
dist/
*.test
coverage.out

# Local provider binary
terraform-provider-asashv

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
